# fly.toml app configuration file generated for flow-forecaster on 2025-11-06T10:25:15Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flow-forecaster'
primary_region = 'gru'

[env]
  WEB_CONCURRENCY = '2'
  CELERY_CONCURRENCY = '2'
  GUNICORN_TIMEOUT = '120'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['web']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
  processes = ['web']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
  processes = ['worker']

[mounts]
  source = 'flow_forecaster_data'
  destination = '/data'
